# Docker Stack Environment Variables
POSTGRES_DB=jdconnect
POSTGRES_USER=jduser
POSTGRES_PASSWORD=jdpassword
POSTGRES_PORT=5432

ROCKETCHAT_PORT=3100
ROCKETCHAT_ROOT_URL=http://127.0.0.1:3100
ROCKETCHAT_ADMIN_USER=admin
ROCKETCHAT_ADMIN_PASSWORD=adminpassword
